

    <title>FunzaTube</title>

  


  <div id="pattern" class="pattern">
    <!--Begin Pattern HTML-->
    <div class="logo">
      <%= link_to  "Home",root_path %><em>Funza</em>Tube
    </div>
    <%= link_to  "Menu", class: "menu-link"%><i class="fa fa-bars"></i>
    <nav id="menu" role="navigation">
      <ul class="responsive-menu">
        <li><%= link_to  "Home", root_path %></li>
          <li><%= link_to  "About" %></li>
          <li><%= link_to  "Courses" %></li>
          <li><%= link_to  "Video" %></li>
          <li><%= link_to  "Contact" %></li>
      </ul>
    </nav>
  </div>


  <!-- ***** Main Banner Area Start ***** -->
  <section class="section main-banner" id="top" data-section="section1">
     <%= video_tag(["introvideo.mp4"],autoplay: true, loop: true, type: "video", muted: true) %>
      <div class="video-overlay header-text">
          <div class="caption">
              <h6>Peer Based Teaching</h6>
              <h2><em>Your</em> Classroom</h2>
              <div class="main-button">
                  <div class="scroll-to-section"><%= link_to  "Discover More" %></div>
              </div>
          </div>
      </div>
  </section>
  <!-- ***** Main Banner Area End ***** -->


  <section class="features">
    <div class="container">
      <div class="row">
        <div class="col-4">
          <div class="features-post">
            <div class="features-content">
              <div class="content-show">
                <h4><i class="fa fa-pencil"></i>All Courses</h4>
              </div>
              <div class="content-hide">
                <p>Introducing content from uploaders etc</p>
                <p class="hidden-sm">The site offers alot of content</p>
                <div class="scroll-to-section"><%= link_to  "More Info" %></div>
            </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="features-post second-features">
            <div class="features-content">
              <div class="content-show">
                <h4><i class="fa fa-graduation-cap"></i>Virtual Sessions</h4>
              </div>
              <div class="content-hide">
                <p>Set up a meeting with a creator and attend one of his popular classes</p>
                <p class="hidden-sm">All classes are subject to payment or free depending on the creator</p>
                <div class="scroll-to-section"><%= link_to  "Details" %></div>
            </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="features-post third-features">
            <div class="features-content">
              <div class="content-show">
                <h4><i class="fa fa-book"></i>Resources</h4>
              </div>
              <div class="content-hide">
                <p>Real meetings seek to emulate normal face to face learning</p>
                <p class="hidden-sm">Due to COVID-19 restrictions this option will not be available for a while</p>
                <div class="scroll-to-section"><%= link_to  "Read more" %></div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section why-us" data-section="section2">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Why choose FunzaTube?</h2>
          </div>
        </div>
        <div class="col-md-12">
          <div id='tabs'>
            <ul>
              <li><%= link_to  "Best Education" %></li>
              <li><%= link_to  "Quality Content" %></li>
              <li><%= link_to  "Easy to use" %></li>
            </ul>
            <section class='tabs-content'>
              <article id='tabs-1'>
                <div class="row">
                  <div class="col-md-6">
                    <%= image_tag("choose-us-image-01.png") %>
                  </div>
                  <div class="col-md-6">
                    <h4>Best Education</h4>
                    <p>FunzaTube is free educational peer teaching platform with links to resources.</p>
                  </div>
                </div>
              </article>
              <article id='tabs-2'>
                <div class="row">
                  <div class="col-md-6">
                    <%= image_tag("choose-us-image-02.png") %>
                  </div>
                  <div class="col-md-6">
                    <h4>Quality Content</h4>
                    <p>The creators of content are thoroughly checked and we have limits as to what form of content can be uploaded</p> 
                  </div>
                </div>
              </article>
              <article id='tabs-3'>
                <div class="row">
                  <div class="col-md-6">
                    <%= image_tag("choose-us-image-03.png") %>
                  </div>
                  <div class="col-md-6">
                    <h4>Easy to use</h4>
                    <p>Our platform seeks to make it very easy to interact with content</p>
                  </div>
                </div>
              </article>
            </section>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section courses" data-section="section4">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Choose Your Course</h2>
          </div>
        </div>
        <div class="owl-carousel owl-theme">
          <div class="item">
            <%= image_tag("courses-01.jpg") %>
            <div class="down-content">
              <h4>Computer Science</h4>
              <p>You can get computer science related material from the site</p>
              <div class="author-image">
                <%= image_tag("author-01.png") %>
              </div>
              <div class="text-button-pay">
                <%= link_to  "Pay" %><i class="fa fa-angle-double-right"></i></a>
              </div>
            </div>
          </div>
          <div class="item">
            <%= image_tag("courses-02.jpg") %>
            <div class="down-content">
              <h4>Business World</h4>
              <p>Learn Business stuff</p>
              <div class="author-image">
                <%= image_tag("author-02.png") %>
              </div>
              <div class="text-button-free">
                <%= link_to  "Free" %> <i class="fa fa-angle-double-right"></i></a>
              </div>
            </div>
          </div>
          <div class="item">
            <%= image_tag("courses-03.jpg") %>
            <div class="down-content">
              <h4>Media Technology</h4>
              <p>Introduction to movie tech with a world renown tutor</p>
              <div class="author-image">
                <%= image_tag("author-03.png" ) %>
              </div>
              <div class="text-button-pay">
                <%= link_to  "text" %>"#">Pay <i class="fa fa-angle-double-right"></i></a>
              </div>
            </div>
          </div>
          <div class="item">
            <%= image_tag("courses-04.jpg") %>
            <div class="down-content">
              <h4>Communications</h4>
              <p>The most sought after skill in todays virtual job market, learn the ways you can become a beter communicator</p>
              <div class="author-image">
                <%= image_tag("author-04.png") %>
              </div>
              <div class="text-button-free">
                <%= link_to  "Free" %><i class="fa fa-angle-double-right"></i>
              </div>
            </div>
          </div>
          <div class="item">
            <%= image_tag("courses-05.jpg") %>
            <div class="down-content">
              <h4>Business Ethics</h4>
              <p>Some business logic fundamentals</p>
              <div class="author-image">
                <%= image_tag("author-05.png") %>
              </div>
              <div class="text-button-pay">
                <%= link_to  "text" %>"#">Pay <i class="fa fa-angle-double-right"></i>
              </div>
            </div>
          </div>
          <div class="item">
            <%= image_tag("courses-01.jpg") %>
            <div class="down-content">
              <h4>Photography</h4>
              <p>Photography related courses</p>
              <div class="author-image">
                <%= image_tag("author-01.png") %>
              </div>
              <div class="text-button-free">
                <%= link_to  "Free" %><i class="fa fa-angle-double-right"></i>
              </div>
            </div>
          </div>
          <div class="item">
            <%= image_tag("courses-02.jpg") %>
            <div class="down-content">
              <h4>Web Development</h4>
              <p>Become a world class web developer</p>
              <div class="author-image">
                <%= image_tag("author-02.png") %>
              </div>
              <div class="text-button-free">
                <%= link_to  "Free" %><i class="fa fa-angle-double-right"></i>
              </div>
            </div>
          </div>
          <div class="item">
            <%= image_tag("courses-03.jpg") %>
            <div class="down-content">
              <h4>Learn HTML CSS</h4>
              <p>The fundamentals of web development</p>
              <div class="author-image">
                <%= image_tag("author-03.png") %>
              </div>
              <div class="text-button-pay">
                <%= link_to  "Pay" %><i class="fa fa-angle-double-right"></i>
              </div>
            </div>
          </div>
          <div class="item">
            <%= image_tag("courses-04.jpg") %>
            <div class="down-content">
              <h4>Social Media</h4>
              <p>Become a Social media mareting genius</p>
              <div class="author-image">
                <%= image_tag("author-04.png") %>
              </div>
              <div class="text-button-pay">
                <%= link_to  "Pay" %><i class="fa fa-angle-double-right"></i>
              </div>
            </div>
          </div>
          <div class="item">
            <%= image_tag("courses-05.jpg") %>
            <div class="down-content">
              <h4>Digital Arts</h4>
              <p>Indulge in the digital arts</p>
              <div class="author-image">
                <%= image_tag("author-05.png") %>
              </div>
              <div class="text-button-free">
                <%= link_to  "Free" %><i class="fa fa-angle-double-right"></i>
              </div>
            </div>
          </div>
          <div class="item">
            <%= image_tag("courses-01.jpg") %>
            <div class="down-content">
              <h4>Media Streaming</h4>
              <p>Want to become a media genius</p>
              <div class="author-image">
                <%= image_tag("author-01.png") %>
              </div>
              <div class="text-button-pay">
                <%= link_to  "Pay" %><i class="fa fa-angle-double-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="section contact" data-section="section6">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Let’s Keep In Touch</h2>
          </div>
        </div>
        <div class="col-md-6">
        
                    
          <form id="contact" action="" method="post">
            <div class="row">
              <div class="col-md-6">
                  <fieldset>
                    <input name="name" type="text" class="form-control" id="name" placeholder="Your Name" required="">
                  </fieldset>
                </div>
                <div class="col-md-6">
                  <fieldset>
                    <input name="email" type="text" class="form-control" id="email" placeholder="Your Email" required="">
                  </fieldset>
                </div>
              <div class="col-md-12">
                <fieldset>
                  <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your message..." required=""></textarea>
                </fieldset>
              </div>
              <div class="col-md-12">
                <fieldset>
                  <button type="submit" id="form-submit" class="button">Send Message Now</button>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-6">
          <div id="map">
            <iframe src="https://maps.google.com/maps?q=Av.+L%C3%BAcio+Costa,+Rio+de+Janeiro+-+RJ,+Brazil&t=&z=13&ie=UTF8&iwloc=&output=embed" width="100%" height="422px" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p><i class="fa fa-copyright"></i> Copyright 2020 by FunzaTube
          
        </div>
      </div>
    </div>
  </footer>

  
  <%=javascript_pack_tag 'sliders.js'%>
