<p id="notice"><%= notice %></p>

<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs" data-aos="fade-in">
    <div class="container">
      <h2>Course Details</h2>
    </div>
  </div>

  <section id="course-details" class="course-details">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-lg-8">
          <%=image_tag(@course.imageUrl,class: "img-fluid") if @course.imageUrl %>
          <h3><%=@course.title %></h3>
          <p>
            <%= @course.description %>
          </p>
        </div>
        <div class="col-lg-4">

          <div class="course-info d-flex justify-content-between align-items-center">
            <h5>Trainer</h5>
            <p><a href="#">Walter White</a></p>
          </div>

          <div class="course-info d-flex justify-content-between align-items-center">
            <h5>Course Fee</h5>
            <p>$<%= @course.price %></p>
          </div>

          <div class="course-info d-flex justify-content-between align-items-center">
            <h5>Available Seats</h5>
            <p><%= @course.seats %></p>
          </div>

          <div class="course-info d-flex justify-content-between align-items-center">
            <h5>Schedule</h5>
            <p><%= @course.schedule %></p>
          </div>

        </div>
      </div>

    </div>
  </section>


</main>

