<!DOCTYPE html>
<html>
  <head>
    <title>FunzaTube</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag('https://unpkg.com/flickity@2/dist/flickity.min.css') %>
    <%= javascript_url "https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js" %>
    <%= stylesheet_link_tag('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i') %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'css/application' %>
  </head>
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><%= link_to("FunzaTube", root_path) %></h1>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><%= link_to("Home", root_path) %></li>
          <li><%= link_to("Courses", courses_path) %></li>
          <li><%= link_to "Trainers", trainers_path %></li>
          <li><%= link_to "Videos", videos_path%></li>
          <li><%= link_to "Upload", resources_path %></li>

        </ul>
      </nav><!-- .nav-menu -->

      <a href="courses.html" class="get-started-btn">Get Started</a>

    </div>
  </header><!-- End Header -->
  <body>

  <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

    <%= yield %>
  </body>
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>FunzaTube</h3>
            <p>
              Laikipia <br>
              Laikipia, LU 535022<br>
              Kenya <br><br>
              <strong>Phone:</strong> +25499100226<br>
              <strong>Email:</strong> info@ft.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Education</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Join Our Newsletter</h4>
            <p>Get the latest content from us in your inbox</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright <strong><span>FunzaTube</span></strong>. All Rights Reserved
        </div>

      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <%= fa_icon "twitter" %>
        <%= fa_icon "facebook" %>
        <%= fa_icon "instagram" %>
      </div>
    </div>
  </footer><!-- End Foo
</html>
