<!DOCTYPE html>
<html>
  <head>
    <title>FunzaTube</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
<!--header-->
  <header class="main-header clearfix" role="header">
    <div class="logo">
      <%= link_to  "FunzaTube",  root_path %>
    </div>
    <nav class="main-nav " role="navigation">
      <ul class="main-menu">
        <li><%= link_to  "Home",  root_path %></li>
        <li class="has-submenu"><%= link_to  "About Us" %>
          <ul class="sub-menu">
            <li><%= link_to  "Who are we" %></li>
            <li><%= link_to  "What we do" %></li>
            <li><%= link_to  "How it works"%></li>
          
          </ul>
        </li>
        <li><%= link_to  "Courses", courses_path %></li>
        <li><%= link_to  "Contact" %></li>
        
        <% if user_signed_in? %>
           <li><%= link_to  "Log Out", destroy_user_session_path,   method: :delete %></li>
        <% else %>
        <li><%= link_to  "Sign Up", new_user_registration_path %></li>
        <li><%= link_to  "Sign In", new_user_session_path %></li>
        <% end %>
        
      </ul>
    </nav>
  </header>
    <%= yield %>
  </body>
  <footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4 footer-column">
        <ul class="nav flex-column">
          <li class="nav-item">
            <span class="footer-title">Product</span>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Product 1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Product 2</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 footer-column">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="#">About us</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 footer-column">
        <ul class="nav flex-column">
          <li class="nav-item">
            <span class="footer-title">Contact & Support</span>
          </li>
          <li class="nav-item">
            <span class="nav-link"><i class="fas fa-phone"></i>+2547222446262</span>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-envelope"></i>Contact us</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="text-center"><i class="fas fa-ellipsis-h"></i></div>
    
    <div class="row text-center">
      <div class="col-md-4 box">
        <span class="copyright quick-links">Copyright &copy; FunzaTube <script>document.write(new Date().getFullYear())</script>
        </span>
      </div>
      <div class="col-md-4 box">
        <ul class="list-inline social-buttons">
          <li class="list-inline-item">
            <a href="#">
            <i class="fab fa-twitter"></i>
          </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
            <i class="fab fa-facebook-f"></i>
          </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
            <i class="fab fa-linkedin-in"></i>
          </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 box">
        <ul class="list-inline quick-links">
          <li class="list-inline-item">
            <a href="#">Privacy Policy</a>
          </li>
          <li class="list-inline-item">
            <a href="#">Terms of Use</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
</html>
